# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env-hybridrag/
.venv/

## temp files
temp/

# Streamlit cache and config
.streamlit/

# VS Code settings
.vscode/

# Environment variables
.env

# Log files
*.log
